
<ion-view ng-controller = "BarDetailCtrl as oneBar">
<ion-nav-title class = "light">{{oneBar.bar.name}}</ion-nav-title>
  <ion-content>
    <div class="list card">
  
      <div class="item">
        <img class="full-image" ng-src="{{oneBar.bar.image}}" style="height: 380px">
      
      <div class="item item-body">
        <h2>Details</h2>
          <ul>
            <li>
              {{oneBar.bar.description}}
            </li>
            <li>
              {{oneBar.bar.drinkSpecials}}
            </li>
            <li>
              {{oneBar.bar.foodSpecials}}
            </li>
            <li>
    <!-- Link to site not working -->
              <a class="item text-center" href="/{{ oneBar.bar.website }}">
              Visit the comida site
              </a>
            </li>
          </ul>
      </div>  
  </ion-content>
</ion-view>



