<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view ng-controller = "BarDetailCtrl as oneBar" view-title="{{oneBar.bar.name}}">
  <ion-content class="padding text-center">
    <ion-item>
    <ion-card>
      <img ng-src="{{oneBar.bar.image}}" style="width: 600px; height: 500px">
      <ion-card-content>
            Details
            <p>
              {{oneBar.bar.description}}
            </p>
            <p>
              {{oneBar.bar.drinkSpecials}}
            </p>
            <p>
              {{oneBar.bar.foodSpecials}}
            </p>
            <p>
              {{oneBar.bar.website }}
            </p>
      </ion-card-content>
    </ion-card>
    </ion-item>
  </ion-content>
</ion-view>



