<ion-view>
  <ion-nav-title>Login<img id="mainlogo" src="/img/FullDenverDrinxLogo.png"></ion-nav-title>
  <ion-content id="backimg" class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-energized" ng-click="login()">Login</button>
      <div id="loginintro">
        <h5 class="light">Welcome to Denver Drinx!  Login in to view happy hours near you.  We'll give you a list of drink and food specials to choose from, and you can navigate yourself to the location of your choice!</h5>
      </div>
  </ion-content>
</ion-view>