<ion-view>
<ion-nav-bar class="bar-royal">
  <ion-content ng-controller = 'AccountCtrl as account'>
    <ion-list>

    <h3 style="text-align: center; padding: 20px;"> About Our Team</h3>
	
	<img style="height:250px; width: 200px; margin: 10px;" src="./image1.JPG">

    <h4 style="color:#F67280"> Nathan Tutchton </h4>
    <p style="color: black"> Web Developer, Science Expert and Bison Herder, Overall Badass</p>
    <a style="color: black" href="https://github.com/ntutchton">GitHub Profile</a>
	<br>
    <h4 style="color:#F67280">Cameron Barclay</h4>
    <p style="color: black">Web Developer, Fitness Guru, Overall Badass</p>
    <a style="color: black" href="https://github.com/CamB17">GitHub Profile</a>
	<br>
    <h4 style="color:#F67280">Jessica Wood</h4>
    <p style="color: black">Web Developer, Avid Concert Goer and Bruncher, Overall Badass</p>
    <a style="color: black" href="https://github.com/jessHwood">GitHub Profile</a>

    </ion-list>
  </ion-content>
  <ion-nav-bar>
</ion-view>
