<ion-view ng-controller= "UberCtrl as uberCtrl">
<ion-nav-title class = "light">Call an Uber</ion-nav-title>
  <ion-content class="padding">
    <h2>Do you like Lyft?</h2>
    <p>
      So do we! <br> Integrated functionality coming soon!!
    </p>
    <div class="bottom request-controls">
    	<ion-row>
    		<ion-col>
    			<button class="royal" (click)="confirmPickup()">Request Pickup</button>
    			<button class="energized">Cancel Pickup</button>
    		</ion-col>
    	</ion-row>
    	<ion-row>
    		<ion-col>
    			Pickup Time is Approximately * Minutes Away
    		</ion-col>
    	</ion-row>




  </ion-content>
</ion-view>