<ion-view view-title="Happy Hours">
  <ion-content ng-controller ="BarsCtrl as barCtrl">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right item-light" ng-repeat="bar in barCtrl.bars" type="item-text-wrap" href="#/tab/bars/{{bar.id}}">
        <!-- <img ng-src="{{bar.img}}"> -->
        <h2 class="dark text-center">{{bar.name}}</h2>
        <p class=" text-center">{{bar.address}}</p>
        

<!--         <ion-option-button class="button-assertive" ng-click="remove(bar)">
          Delete
        </ion-option-button> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
